* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.navbar {
  position: fixed;
  top: -75px;
  left: 0;
  right: 0;
}
.nav-container {
  width: 100vw;
  min-height: 200vh;
  background: #ffffff;
  transition: 0.6s;
}
.nav-container.light {
  background: #313030;
}
::-webkit-scrollbar {
  display: none;
}
.navbar {
  width: 100vw;
  height: 10.5vh;
  display: flex;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  align-items: center;
  justify-content: space-between;
  background: #9edf9c;
  backdrop-filter: blur(50px);
  padding: 0px 0.5rem;
  gap: 0;
  box-sizing: border-box;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -60vw;
}

.navbar.fullscreen {
  flex-direction: column;
  align-items: flex-start;
  padding-top: 0rem;
  gap: 2rem;
}

.logo {
  width: 170px;
  cursor: pointer;
  display: block;
  margin-top: -40px;
}

.navbar ul {
  flex: 1;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
  margin-top: -50px;
  padding-left: 90px;
  font-size: medium;
}
.navbar ul li {
  display: inline-block;
  margin: 10px 20px;
  font-size: 28px;
  cursor: pointer;
}

.navbar ul li a {
  text-decoration: none;
  color: #222;
  font-size: 1.21rem;
  font-weight: 500;
  line-height: 1;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: #018601fd;
  border-bottom: 2px solid #225237;
}
.light .navbar ul li a:hover {
  color: #b7f9a8fd;
  border-bottom: 2px solid #0ccc5f;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 17.1rem;
  width: 60vh;
  margin-left: 1rem;
  padding: 8px 20px;
  background: #121212;
  color: white;
  border-radius: 30px;
  margin-left: 50vh;
}
.search-box img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.search-input {
  padding: 6px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  width: 200px;
  height: 30px;
  accent-color: #ffffff;
}
.search-input::placeholder {
  color: #ffffff;
}
.search-input textarea:focus,
input:focus {
  color: #ffffff;
}
.search-icon {
  width: 16px;
  height: 16px;
  display: block;
  cursor: pointer;
}

input[type="text"],
input[type="search"] {
  caret-color: rgb(219, 121, 243);
}

.day-mode-icon {
  width: 60px;
  height: 48px;
  margin-left: 0.75rem;
  cursor: pointer;
  object-fit: contain;
  display: block;
}
.light .navbar {
  background: #526e48;
  color: #fff;
}
.light .search-box {
  background: #fff;
}
.light .search-box input {
  background: #fff;
  color: black;
}
.light .search-box input::placeholder {
  background: #fff;
  color: rgb(75, 8, 114);
}
.navbar .user-icon {
  position: fixed;
  right: 45px;
  top: 30px;
  font-size: 34px;
  color: #04260c;
  cursor: pointer;
}
.light .navbar .user-icon {
  color: #d8dbd8fd;
}
/* Tablet */
@media (max-width: 992px) {
  .navbar {
    flex-wrap: wrap;
    height: auto;
    padding: 0.5rem 1rem;
  }
  .logo {
    width: 160px;
  }

  .navbar ul {
    align-items: center;
    justify-content: left;
  }

  .search-box {
    width: 60%;
    margin: 0.2rem auto;
  }
  .navbar ul li {
    padding: 0 10px;
    margin-bottom: -10px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    padding: 1rem;
    width: 100%;
    height: 45vh;
  }

  .logo {
    width: 140px;
    margin-top: -30px;
  }

  .navbar ul {
    flex-direction: column;
    padding: 0px;
    margin: -50px;
  }

  .navbar ul li {
    padding: 1px 1px 0px;
    gap: 0px;
  }

  .search-box {
    display: flex;
    width: 51%;
    margin-top: 0.5rem;
    padding: 6px 15px;
    margin-left: 110px;
  }

  .day-mode-icon {
    display: flex;
    width: 35px;
    height: 35px;
    margin-top: -50px;
    margin-left: 270px;
  }
  .search-box img {
    display: flex;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: -100px;
  }
  .search-box input {
    width: 100%;
    font-size: 16px;
  }
  .navbar .user-icon {
    position: fixed;
    right: 335px;
    top: 30px;
    font-size: 34px;
    color: #04260c;
    cursor: pointer;
  }
  .light .navbar .user-icon {
    color: #d8dbd8fd;
  }
}
